.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 28.5rem;
}

.customizationOptions {
  background: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.3rem 2.1rem 2.1rem 2.1rem;
  gap: 2rem;
  border: 1px solid #262626;
  border-radius: 0.9375rem;
  text-align: left;
}

.color,
.pattern {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #262626;
}

.personalization {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  color: #fafafa;
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}
