:root {
  --button-border: #3b3b3b;
  --button-light: #2f3d54;
  --button-dark: #202b40;
}

.button {
  width: 2.9375rem;
  height: 2.3125rem;
  border-radius: 0.5rem;
  border: 2px solid var(--button-border);
  background: linear-gradient(
    180deg,
    var(--button-light) 0%,
    var(--button-dark) 100%
  );
}
