.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.buttonWrapper {
  position: relative;
  width: 2.9375rem;
  height: 2.3125rem;
  overflow: visible;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.6875rem; /* Same size as SVG */
  height: 3.0625rem; /* Same size as SVG */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.selectedShape {
  color: #a1a1a1;
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
