.container {
  display: flex;
  gap: 1rem;
}

.buttonWrapper {
  position: relative;
  width: 2.8125rem;
  height: 2.875rem;
  overflow: visible;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5625rem; /* Same size as SVG */
  height: 3.625rem; /* Same size as SVG */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
