:root {
  --font-color-light: #fafafa;
  --font-color-grey: #A1A1A1;
  --font-size-h1: 2.25rem;
  --font-size-l: 1.125rem;
  --font-size-m: 1rem;
  --font-size-s: 0.75rem

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Regular weight */
@font-face {
  font-family: 'SF Pro';
  src: url('src/fonts/SF-Pro-Display-Regular.otf') format(otf);
  font-weight: 400;
  font-style: normal;
}

/* Semibold weight */

@font-face {
  font-family: 'SF Pro';
  src: url('src/fonts/SF-Pro-Display-Semibold.otf') format(otf);
  font-weight: 590;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('src/fonts/SF-Pro-Display-Medium.otf') format(otf);
  font-weight: 510;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

